*{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}
main, .grid, footer{
    max-width: 840px;
    margin: 0 auto; 
}
.grid{
    display: grid;
    align-items:start ;
}
main{
    grid-column: 2/3;
    margin: 1rem;
    position: end;
}

nav {
    background-color: steelblue;
    padding: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 500;
}
h1 {
    color:steelblue; 
    margin-bottom: 12px;
    border-bottom-style:solid;
    padding-bottom: 5px;
}
img {
    width: 100px;
    height: auto;
    border: 1px solid steelblue; 
    padding: 2px;
    box-shadow: 0 0 30px gray; 
    float: right;
    margin-bottom: 2px;
    margin-left: 10px;
}
p {
    padding: 20px;  
 
}

aside {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee ;
    color: #333; 
    
}
aside img {
    width: 280px; 
    height: auto;
    margin-bottom: 20px;
    
}
main img {
    width: 150px;
    height: auto; 
}
p {padding: 0;} 
footer {
    margin-top: 15px;
    border-top: 1px solid #000; 
    text-align: center; 
}
header{
    max-width: 840px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;

}
aside h2{
    position:absolute;
    bottom: -68px;
    left: 232px;
    color: aliceblue;
    font-size: medium; 
}
/* Class Selectors  */
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px #000;
}
aside p{
    clear: both;
}